@import "variables";

.dates {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.button {
  @include flex-center;
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 1rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 760px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    div {
      margin: auto;
      width: 100%;
    }
  }
}
