@import "variables";

.form {
  width: 100%;
  max-width: 800px;
  margin: 3rem auto;

  .required {
    margin-bottom: 3rem;
  }
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    label {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 1rem;
    }

    input,
    textarea {
      background-color: #fff;
      border: none;
      color: $dark;
      font-size: 1.2rem;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
    .ratings {
      @include flex-between;
      span {
        font-size: 1rem;
      }
    }
    .formGroupCheck {
      display: grid;
      grid-template-columns: 5fr repeat(5, 1fr);
      padding: 1rem;
      label {
        margin-right: 1rem;
      }
      input {
        margin-right: 5px;
      }
    }
  }

  .passwordInput {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    input,
    textarea {
      background-color: #fff;
      border: none;
      color: $dark;
      font-size: 1.2rem;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px 0 0 5px;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
}
