@import "../../styles/variables.scss";

.header {
  height: 130px;
  background-color: $dark;
  color: $primary;
  padding: 0 1rem;

  .flexBetween {
    @include flex-between;
    height: 100%;

    .link {
      margin: 0 10px;
      font-size: 1.5rem;
      transition: color 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        color: $button;
      }
    }

    .menu {
      position: absolute;
      top: 45px;
      right: 65px;
      z-index: 100;
      div {
        @include flex-center;
        font-size: 1.2rem;
        transition: color 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          color: $button;
        }
        .name {
          margin: 0 5px;
          font-size: 1.5rem;
        }
        .arrow {
          rotate: 180deg;
        }
      }
      ul {
        background-color: #fff;
        border: 1px solid $dark;
        border-radius: 5px;
        color: $dark;
        padding: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .header {
    .flexBetween {
      .logo {
        max-width: 500px;
      }
    }
  }
}

@media screen and (max-width: 825px) {
  .header {
    .flexBetween {
      .logo {
        max-width: 400px;
      }

      .menu {
        right: 30px;
        p {
          .name {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 625px) {
  .header {
    .flexBetween {
      flex-direction: column;
      justify-content: center;

      .menu {
        top: 85px;
        right: auto;

        .icon {
          max-width: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .header {
    padding: 0;
    .flexBetween {
      align-items: left;
      .logo {
        max-width: 350px;
      }
    }
  }
}
